.input-text {
    margin-left: 15%;
    margin-right: 15%;
    align-self: stretch;
    border: solid rgb(241, 186, 164);
    border-radius: .05rem;
    height: unset;
    height: 2rem;
}

.publicar {
    border: .2rem solid black;
    border-radius: .6rem;
    align-self: center;
    padding: .3rem;
    margin: 1rem;
    font-size: 1.5rem;
}

b {
    font-size: 1.5rem;
}

.voltar {
    align-self: flex-start;
}

h1 {
    font-size: 3rem;
}