html {
    font-size: 16px;
    height: 100%;
    width: 100%;   
    /* texto principal: */
    font-family: 'Open Sans', sans-serif;
    /* textos longos: */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5rem;
    margin: .1rem;
    background-color:#0E516E;
    color: #e1f2fa;
    border-bottom: .08rem solid black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}

img {
    width: 10rem;
    height: 10rem;
}

a {
    align-self: flex-start;
}

p {
    height: max-content;
    font-size: 1.2rem;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    align-self: center;
    margin-bottom: .3rem;
    color: #E1F2FA;
}

h1.chamada {
    color: #15759E ;
}

h2 {
    font-size: large;
    font-weight: bold;
}

footer {
    text-align: center;
}

.perfil-instrutor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    width: fit-content;
}

.info-instrutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
    
}

.return {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
}

.botao {
    width: fit-content;
    height: fit-content;
    margin: .5rem;
    padding: .6rem;
    text-align: center;
    border-top-color: gray;
    border-left-color: gray;
    background-color:#E1F2FA;

    border-radius: .5rem;
}

.botao_prof {
    width: fit-content;
    height: 1rem;
    border: .15rem solid black;
    padding: .6rem;
    text-align: center;
    border-top-color: gray;
    border-left-color: gray;
    background-color:#6DA1B8;
    border-radius: .5rem;
}