
h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

form, main {
    align-items: center;
    justify-content: space-evenly;
}

.botao{
    position: relative;
    align-self: center;
}

.interruptor {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  
  .interruptor + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }

  .interruptor--sombra + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 20px;
  }

  .interruptor--sombra + label:before,
.interruptor--sombra + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.interruptor--sombra + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 20px;
  transition: all 0.4s;
}
.interruptor--sombra + label:after {
  width: 31px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.interruptor--sombra:checked + label:before {
    background-color: #8ce196;
  }
  .interruptor--sombra:checked + label:after {
    transform: translateX(30px);
  }