
main {
    align-items: center;
    justify-content: flex-start;
}

.postagem {
    width: 100%;
    margin: .2rem;
    padding: .2rem;
    border-top: .2rem solid gray;
    border-bottom: .2rem solid gray;
}

.comentarios{
    position: relative;
    left:1rem;
}

.destaque{
    background-color: yellow;
}