h2{
    font-size: 2rem;
    color:#15759E;
}

form, main {
    align-items: center;
    justify-content: space-evenly;
}

.botao{
    position: relative;
    align-self: center;
}

.map {
    max-height: 5rem;
}