html {
    font-size: 16px;
    height: 100%;
    width: 100%;   
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: blueviolet;
}

h1 {
    
    font-size: x-large;
    font-weight: bold;
    margin-bottom: .3rem;
}

h2 {
    font-size: large;
    color: blue;
}
h3 {
    font-size: large;
    color: green;
}
h4 {
    font-size: large;
    color: purple;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: salmon;
    border: .08rem solid black;
    border-radius: .5rem;
    /* margin: .1rem; */
}

main {
    height: 100%;
    width: 100%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    background-color: khaki;
}

footer {
    text-align: center;
    background-color: lightgreen;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: .2rem;
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.voltar {
    color:red;
    display: flex;
    align-items: flex-start;
}