html {
    font-size: 16px;
    height: 100%;
    width: 100%;   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 3rem;
    background-color: salmon;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: .1rem solid black;
    background-color: khaki;
}

img {
    width: 10rem;
    height: 10rem;
}

a {
    align-self: flex-start;
}

p {
    height: max-content;
    /* border: .1rem solid black; */
    font-size: 1.2rem;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    /* margin-bottom: .3rem; */
}

h2 {
    font-size: large;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: lightgreen;
}

.perfil-instrutor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    width: fit-content;
}

.info-instrutor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
    
}

.return {
    position: absolute;
    left: 1rem;
    top: 0rem;
    width: 2rem;
    height: 2rem;
}

.botao {
    width: 8rem;
    margin: 1rem;
    border: .15rem solid black;
    padding: .6rem;
    text-align: center;
    border-top-color: gray;
    border-left-color: gray;
    background-color: lightskyblue;
    border-radius: .5rem;
}