
main {
    align-items: center;
    justify-content: flex-start;
}

h2 {
    font-size: large;
    font-weight: bold;
}


.postagem {
    width: 100%;
    margin: 1rem;
    padding: .2rem;
    border-top: .2rem solid gray;
    border-bottom: .2rem solid gray;
}

.add-topic {
    position: absolute;
    width: 2rem;
    height: 2rem;
}

.add-topic:active {
    position: absolute;
    width: 2.1rem;
    height: 2.1rem;
}

.botao-coment {
    width: fit-content;
    height: fit-content;
    margin: .5rem;
    padding: .6rem;
    text-align: center;
    border-top-color: gray;
    border-left-color: gray;
    background-color:#E1F2FA;

    border-radius: .5rem;
}

.botao-coment:active {
    border-top-color: black;
    border-right-color: gray;
    border-bottom-color: gray;
    border-left-color: black;
    position: relative;
    top: .1rem;
    left: .1rem;
}